<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dhruv Home - {{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <h1>{{screamIt welcomeMessage}}</h1>
  <p1>Some text here</p1>
  {{> footer}}
</body>
</html>